.Board-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 5%;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

button {
  align-self: end;
  margin: 5px;
  padding: 7px 10px;
  background-color: #583D71;
  border: none;
  border-radius: 8px;
}

button a {
  color: #fff;
  text-decoration: none;
}


